body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center !important;
  font-size: 150% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  width:10%;
}

li{
  list-style-type: none;
}

.me{
  width:20%;
}
.skills{
  width:30px;
  height:30px;
}

table{
  border-style:solid;
  border: black;
  border-radius: 8px;
}

iframe{
  width:70%;
  height:500px;
  
}

.name{
  font-size: 200%;
}
.c{
width: 300px;
border-color:#f8faf0;
border-width: 3px;
}

.t{
  text-align:center;
  border: 3px;
  border-color: red;
}

.b{
  border-width: 500px;
  border-color: red;
  border: 5px;
}

.rite{
  text-align: center;
  width: 500px;
}

.span{
  font-size: 250%;
  line-height: 150%;
  padding: 5%;
  text-align: center;
}

.box
{
  width: 150px;
  padding: 10px;
}
.box:hover
{
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
   box-shadow: 0 0 10px #ccc;
}

/* normal button style */
.myButton {
  width: 110px;
  height: 30px;
  background-color:#80bd91;
  text-align: center;
  color: green;
  position: relative;
}
/* button hover style if required */
.myButton:hover {
 color:green;
}
/* generated element for shine effect.
* normal state is semi-transparent
* white but with zero width. Set no
* transition here for no mouse-leave
* animations. Otherwise the effect
* will play in reverse when your mouse
* leaves the element
*/
.myButton:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
 
}
/* on hover we animate the width to
* 100% and opacity to 0 so the element
* grows and fades out
*/
.myButton:hover:after {
  width: 120%;
  background-color: rgba(255,255,255,0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}




.myButton2 {
  background-color:white;
  text-align: center;
  color: #FFF;
  position: relative;
}
/* button hover style if required */
.myButton2:hover {
 color:green;
}
/* generated element for shine effect.
* normal state is semi-transparent
* white but with zero width. Set no
* transition here for no mouse-leave
* animations. Otherwise the effect
* will play in reverse when your mouse
* leaves the element
*/
.myButton2:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
 
}
/* on hover we animate the width to
* 100% and opacity to 0 so the element
* grows and fades out
*/
.myButton2:hover:after {
  width: 120%;
  background-color: rgba(255,255,255,0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

table, td{
  padding: 15px;
  text-align: center;
}


.brdr{
  border-style: solid;
  border-width: 1px;
  padding: 15px;
  border-color: lightgray;
  border-radius: 25px;
  overflow-x:auto;
}



.brand{
  color: white;
  text-decoration: none;
}

#navbar-show{
  width: 100%;
  padding: 1% 5%;
  position: sticky;
  z-index: 1000;
  transition: top 0.4s;
  top: 0; 
  background-color: #E8E8E8;
}

.navbar-toggle-icon{
  color: white;
  font-size: calc(15px + 3vmin);
  font-weight: 200;
}

#navbar-hidden{
  width: 100%;
  padding: 1% 5%;
  position: sticky;
  z-index: 1000;
  transition: top 0.4s;
  top: -700px;
  background-color: #E8E8E8 !important;
}

#navbar-common-item{
  color: black;
  height: -5px;
  font-size: calc(13px + 0.6vmin);
  padding-top: 10px;
}

#navbar-brand{
  color: black;
  font-family:  'Euphoria Script', cursive;
  font-size: 160%;
  vertical-align: middle;
  text-align: center;
}

#navbar-brand:hover{
  text-decoration: none;
}

.naviopen{
  background-color:#E8E8E8;
  padding:-100;
}

.navibar{
  padding-bottom: 40px !important;
  padding-top: 25px !important;
}